#controlls {
    display: flex;
    height: calc(100vh - 170px);
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.controll {
    background: transparent no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin: 0 5%;
}
#prev {
    background-image: url("/assets/images/prev.png");
}
#play {
    background-image: url("/assets/images/play.png");
}
#pause {
    background-image: url("/assets/images/pause.png");
}
#next {
    background-image: url("/assets/images/next.png");
}
#pause, #play {
    width: 150px;
    height: 150px;
    margin: 0;
}
span {
    display: block;
    margin-bottom: 20px;
}
#time-controll-wrapper {
    margin-top: 60px;
}
@media (max-width: 1300px) {
    .controll {
        width: 50px;
        height: 50px;
    }
    #pause, #play {
        width: 100px;
        height: 100px;
    }
}
